.show,.help{
	background:rgba(255,255,255,0.5);
	box-shadow:1px 1px 4px rgba(0,0,0,0.2);
	padding:20px 25px;
}
.show{
	width:910px;
	float:left;
}
.help{
	width:230px;
	float:right;
}
.show td:nth-child(1),.show td:nth-child(2),.show td:nth-child(4){
	padding: 0;
}
.show td:nth-child(1),.show td:nth-child(3){
	width:180px;
}
.show td:nth-child(4){
	width: 105px;
}
.help button{
	padding: 5px;
	font-size: 15px;
	margin:2px;
}
a button{
	width: 100%;
}